<a href="https://colab.research.google.com/github/gandhimonil9823/CS_GO_Analysis/blob/main/preprocessing/Aggregate_data_rounds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
import pandas as pd
import numpy as np
import os

### Mount data from Google Drive

In [115]:
#mount data folder from google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Change dir and check contents

In [116]:
cd '/content/drive/Shareddrives/CS_GO_Data/processed_data_v2'

/content/drive/Shareddrives/CS_GO_Data/processed_data_v2

In [117]:
ls

aggregated_data/  de_inferno.png    de_season.png     mm_grenades_demos.csv
cs_cruise.png     de_mikla.png      de_train.png      out-de_cache.png
damage_data.csv   de_mirage.png     de_tulip.png      out-de_cbble.png
de_cache.png      de_new_nuke.png   grenade_data.csv  out-de_dust2.png
de_cbble.png      de_nuke.png       kill_data.csv     out-de_inferno.png
de_coast.png      de_overpass.png   Log_ROC.png       out-de_mirage.png
de_dust2.png      de_royal.png      map_data.csv      out-de_overpass.png
de_empire.png     de_santorini.png  meta_data.csv     out-de_train.png

### 1) load data

In [118]:
%%time
meta_df = pd.read_csv('/content/drive/Shared drives/CS_GO_Data/processed_data_v2/meta_data.csv')
#map_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/map_data.csv')
kills_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/kill_data.csv')
#grenades_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/grenade_data.csv')
damage_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/damage_data.csv')

CPU times: user 36 s, sys: 4.97 s, total: 41 s
Wall time: 51.6 s

In [119]:
#round_meta_df
#meta, ct_alive_final (from kills), t_alive_final (from kills), is_bomb_planted (pull from damage. it covers kills and nades), bomb_site (pull from damage. it covers kills and nades).

In [120]:
meta_df.dtypes

file              object
map               object
round              int64
start_seconds    float64
end_seconds      float64
winner_team       object
winner_side       object
round_type        object
ct_eq_val          int64
t_eq_val           int64
dtype: object

In [121]:
meta_rounds = meta_df.copy()
meta_rounds

                           file          map  ...  ct_eq_val  t_eq_val
0       esea_match_13770997.dem  de_overpass  ...       4300      4250
1       esea_match_13770997.dem  de_overpass  ...       6300     19400
2       esea_match_13770997.dem  de_overpass  ...       7650     19250
3       esea_match_13770997.dem  de_overpass  ...      24900     23400
4       esea_match_13770997.dem  de_overpass  ...       5400     20550
...                         ...          ...  ...        ...       ...
340328  esea_match_13829173.dem    de_mirage  ...       4500     21950
340329  esea_match_13829173.dem    de_mirage  ...      16400     26100
340330  esea_match_13829173.dem    de_mirage  ...      15100     26000
340331  esea_match_13829173.dem    de_mirage  ...      17550     25500
340332  esea_match_13829173.dem    de_mirage  ...      21150     26550

[340333 rows x 10 columns]

In [122]:
kills_df['ct_alive'].value_counts()

 4    654205
 3    556056
 2    436173
 5    362110
 1    316615
 0    151957
-1        76
-2        64
-4        44
-3        41
-5        14
Name: ct_alive, dtype: int64

In [123]:
kills_df['t_alive'].value_counts()

 4    645129
 3    559736
 2    451507
 1    333273
 5    324339
 0    163169
-1        70
-2        56
-3        41
-4        20
-5        15
Name: t_alive, dtype: int64

the negative values are errors that need to be rectified. We should set any value less than 0 to 0.

In [124]:
alive_df = kills_df[['file','round','ct_alive','t_alive']].copy()
alive_df

                            file  round  ct_alive  t_alive
0        esea_match_13770997.dem      1         5        4
1        esea_match_13770997.dem      1         4        4
2        esea_match_13770997.dem      1         3        4
3        esea_match_13770997.dem      1         3        3
4        esea_match_13770997.dem      1         2        3
...                          ...    ...       ...      ...
2477350  esea_match_13829173.dem     22         3        3
2477351  esea_match_13829173.dem     22         2        3
2477352  esea_match_13829173.dem     22         1        3
2477353  esea_match_13829173.dem     22         1        2
2477354  esea_match_13829173.dem     22         0        2

[2477355 rows x 4 columns]

In [125]:
#set negative values to zero
alive_df['ct_alive'] = alive_df['ct_alive'].apply(lambda x: 0 if x<0 else x)
alive_df['t_alive'] = alive_df['t_alive'].apply(lambda x: 0 if x<0 else x)
alive_df

                            file  round  ct_alive  t_alive
0        esea_match_13770997.dem      1         5        4
1        esea_match_13770997.dem      1         4        4
2        esea_match_13770997.dem      1         3        4
3        esea_match_13770997.dem      1         3        3
4        esea_match_13770997.dem      1         2        3
...                          ...    ...       ...      ...
2477350  esea_match_13829173.dem     22         3        3
2477351  esea_match_13829173.dem     22         2        3
2477352  esea_match_13829173.dem     22         1        3
2477353  esea_match_13829173.dem     22         1        2
2477354  esea_match_13829173.dem     22         0        2

[2477355 rows x 4 columns]

In [126]:
alive_df['t_alive'].value_counts()

4    645129
3    559736
2    451507
1    333273
5    324339
0    163371
Name: t_alive, dtype: int64

In [127]:
alive_df['ct_alive'].value_counts()

4    654205
3    556056
2    436173
5    362110
1    316615
0    152196
Name: ct_alive, dtype: int64

In [128]:
alive_df = alive_df.groupby(['file','round']).min().reset_index()
alive_df

                           file  round  ct_alive  t_alive
0       esea_match_13770997.dem      1         0        1
1       esea_match_13770997.dem      2         1        2
2       esea_match_13770997.dem      3         0        4
3       esea_match_13770997.dem      4         0        1
4       esea_match_13770997.dem      5         3        0
...                         ...    ...       ...      ...
346251  esea_match_13829173.dem     18         0        3
346252  esea_match_13829173.dem     19         0        3
346253  esea_match_13829173.dem     20         0        3
346254  esea_match_13829173.dem     21         0        2
346255  esea_match_13829173.dem     22         0        2

[346256 rows x 4 columns]

In [129]:
planted_df = damage_df[['file','round','is_bomb_planted','bomb_site']].copy()
planted_df

                            file  round  is_bomb_planted bomb_site
0        esea_match_13770997.dem      1            False       NaN
1        esea_match_13770997.dem      1            False       NaN
2        esea_match_13770997.dem      1            False       NaN
3        esea_match_13770997.dem      1            False       NaN
4        esea_match_13770997.dem      1            False       NaN
...                          ...    ...              ...       ...
9505460  esea_match_13829173.dem     22            False       NaN
9505461  esea_match_13829173.dem     22            False       NaN
9505462  esea_match_13829173.dem     22            False       NaN
9505463  esea_match_13829173.dem     22            False       NaN
9505464  esea_match_13829173.dem     22            False       NaN

[9505465 rows x 4 columns]

In [130]:
#this is so that we can use max() as an aggregation function when we apply groupby

#convert bool to int
def planted_1_0 (x):
  if x==True: return 1
  else: return 0

#rename sites
def rename_A_B_sites (x):
  if x=='A': return 1
  elif x=='B': return 2
  else: return 0

planted_df['is_bomb_planted'] = planted_df['is_bomb_planted'].apply(lambda x: planted_1_0(x))
planted_df['bomb_site'] = planted_df['bomb_site'].apply(lambda x: rename_A_B_sites(x))
planted_df

                            file  round  is_bomb_planted  bomb_site
0        esea_match_13770997.dem      1                0          0
1        esea_match_13770997.dem      1                0          0
2        esea_match_13770997.dem      1                0          0
3        esea_match_13770997.dem      1                0          0
4        esea_match_13770997.dem      1                0          0
...                          ...    ...              ...        ...
9505460  esea_match_13829173.dem     22                0          0
9505461  esea_match_13829173.dem     22                0          0
9505462  esea_match_13829173.dem     22                0          0
9505463  esea_match_13829173.dem     22                0          0
9505464  esea_match_13829173.dem     22                0          0

[9505465 rows x 4 columns]

In [131]:
planted_df['bomb_site'].value_counts()

0    8135847
1     696428
2     673190
Name: bomb_site, dtype: int64

In [132]:
planted_df['is_bomb_planted'].value_counts()

0    8135847
1    1369618
Name: is_bomb_planted, dtype: int64

In [133]:
planted_df = planted_df.groupby(['file','round']).max().reset_index()
planted_df

                           file  round  is_bomb_planted  bomb_site
0       esea_match_13770997.dem      1                1          2
1       esea_match_13770997.dem      2                0          0
2       esea_match_13770997.dem      3                0          0
3       esea_match_13770997.dem      4                1          1
4       esea_match_13770997.dem      5                0          0
...                         ...    ...              ...        ...
343328  esea_match_13829173.dem     18                0          0
343329  esea_match_13829173.dem     19                0          0
343330  esea_match_13829173.dem     20                0          0
343331  esea_match_13829173.dem     21                0          0
343332  esea_match_13829173.dem     22                0          0

[343333 rows x 4 columns]

In [134]:
#merge with planted
meta_rounds = pd.merge(meta_rounds, alive_df,  how='left', left_on=['file','round'], right_on = ['file','round'])
meta_rounds

                           file          map  ...  ct_alive  t_alive
0       esea_match_13770997.dem  de_overpass  ...         0        1
1       esea_match_13770997.dem  de_overpass  ...         1        2
2       esea_match_13770997.dem  de_overpass  ...         0        4
3       esea_match_13770997.dem  de_overpass  ...         0        1
4       esea_match_13770997.dem  de_overpass  ...         3        0
...                         ...          ...  ...       ...      ...
340328  esea_match_13829173.dem    de_mirage  ...         0        3
340329  esea_match_13829173.dem    de_mirage  ...         0        3
340330  esea_match_13829173.dem    de_mirage  ...         0        3
340331  esea_match_13829173.dem    de_mirage  ...         0        2
340332  esea_match_13829173.dem    de_mirage  ...         0        2

[340333 rows x 12 columns]

In [135]:
#merge with planted
meta_rounds = pd.merge(meta_rounds, planted_df,  how='left', left_on=['file','round'], right_on = ['file','round'])
meta_rounds

                           file          map  ...  is_bomb_planted  bomb_site
0       esea_match_13770997.dem  de_overpass  ...                1          2
1       esea_match_13770997.dem  de_overpass  ...                0          0
2       esea_match_13770997.dem  de_overpass  ...                0          0
3       esea_match_13770997.dem  de_overpass  ...                1          1
4       esea_match_13770997.dem  de_overpass  ...                0          0
...                         ...          ...  ...              ...        ...
340328  esea_match_13829173.dem    de_mirage  ...                0          0
340329  esea_match_13829173.dem    de_mirage  ...                0          0
340330  esea_match_13829173.dem    de_mirage  ...                0          0
340331  esea_match_13829173.dem    de_mirage  ...                0          0
340332  esea_match_13829173.dem    de_mirage  ...                0          0

[340333 rows x 14 columns]

In [136]:
#rename sites to 1(A) and -1(B)

def re_rename_sites (x):
  if x==1: return 1 #A
  elif x==2: return -1 #B
  else: return 0

meta_rounds['bomb_site'] = meta_rounds['bomb_site'].apply(lambda x: re_rename_sites(x))
meta_rounds

                           file          map  ...  is_bomb_planted  bomb_site
0       esea_match_13770997.dem  de_overpass  ...                1         -1
1       esea_match_13770997.dem  de_overpass  ...                0          0
2       esea_match_13770997.dem  de_overpass  ...                0          0
3       esea_match_13770997.dem  de_overpass  ...                1          1
4       esea_match_13770997.dem  de_overpass  ...                0          0
...                         ...          ...  ...              ...        ...
340328  esea_match_13829173.dem    de_mirage  ...                0          0
340329  esea_match_13829173.dem    de_mirage  ...                0          0
340330  esea_match_13829173.dem    de_mirage  ...                0          0
340331  esea_match_13829173.dem    de_mirage  ...                0          0
340332  esea_match_13829173.dem    de_mirage  ...                0          0

[340333 rows x 14 columns]

In [137]:
meta_rounds.rename(columns={"ct_alive": "final_ct_alive", "t_alive": "final_t_alive"},inplace=True)
meta_rounds

                           file          map  ...  is_bomb_planted  bomb_site
0       esea_match_13770997.dem  de_overpass  ...                1         -1
1       esea_match_13770997.dem  de_overpass  ...                0          0
2       esea_match_13770997.dem  de_overpass  ...                0          0
3       esea_match_13770997.dem  de_overpass  ...                1          1
4       esea_match_13770997.dem  de_overpass  ...                0          0
...                         ...          ...  ...              ...        ...
340328  esea_match_13829173.dem    de_mirage  ...                0          0
340329  esea_match_13829173.dem    de_mirage  ...                0          0
340330  esea_match_13829173.dem    de_mirage  ...                0          0
340331  esea_match_13829173.dem    de_mirage  ...                0          0
340332  esea_match_13829173.dem    de_mirage  ...                0          0

[340333 rows x 14 columns]

In [138]:
meta_rounds['round_duration'] = meta_rounds['end_seconds']-meta_rounds['start_seconds']
meta_rounds

                           file          map  ...  bomb_site  round_duration
0       esea_match_13770997.dem  de_overpass  ...         -1        66.65128
1       esea_match_13770997.dem  de_overpass  ...          0       118.44070
2       esea_match_13770997.dem  de_overpass  ...          0        61.60860
3       esea_match_13770997.dem  de_overpass  ...          1        94.41750
4       esea_match_13770997.dem  de_overpass  ...          0        48.81390
...                         ...          ...  ...        ...             ...
340328  esea_match_13829173.dem    de_mirage  ...          0        47.44900
340329  esea_match_13829173.dem    de_mirage  ...          0        58.78300
340330  esea_match_13829173.dem    de_mirage  ...          0        50.22000
340331  esea_match_13829173.dem    de_mirage  ...          0        52.42700
340332  esea_match_13829173.dem    de_mirage  ...          0        49.78100

[340333 rows x 15 columns]

In [139]:
#reorder columns
meta_rounds = meta_rounds[['file','map', 'round', 'start_seconds', 'end_seconds', 'round_duration', 'ct_eq_val', 't_eq_val', 'round_type','final_ct_alive', 'final_t_alive', 'is_bomb_planted', 'bomb_site', 'winner_team', 'winner_side']]
meta_rounds

                           file          map  ...  winner_team       winner_side
0       esea_match_13770997.dem  de_overpass  ...       Team 2         Terrorist
1       esea_match_13770997.dem  de_overpass  ...       Team 2         Terrorist
2       esea_match_13770997.dem  de_overpass  ...       Team 2         Terrorist
3       esea_match_13770997.dem  de_overpass  ...       Team 2         Terrorist
4       esea_match_13770997.dem  de_overpass  ...       Team 1  CounterTerrorist
...                         ...          ...  ...          ...               ...
340328  esea_match_13829173.dem    de_mirage  ...       Team 1         Terrorist
340329  esea_match_13829173.dem    de_mirage  ...       Team 1         Terrorist
340330  esea_match_13829173.dem    de_mirage  ...       Team 1         Terrorist
340331  esea_match_13829173.dem    de_mirage  ...       Team 1         Terrorist
340332  esea_match_13829173.dem    de_mirage  ...       Team 1         Terrorist

[340333 rows x 15 columns]

In [140]:
meta_rounds['winner_side'].value_counts() #only one draw

Terrorist           174407
CounterTerrorist    165925
None                     1
Name: winner_side, dtype: int64

In [141]:
#class=1 if Team 1 won 
#class=-1 if Team 2 won
#class=0 if draw

def findwinnerclass (x):
  if x=='Team 1': return 1
  elif x=='Team 2': return -1
  else: return 0 #draw

#class=1 if CT side won 
#class=-1 if T side won
#class=0 if draw
def findwinnersideclass (x):
  if x=='CounterTerrorist': return 1
  elif x=='Terrorist': return -1
  else: return 0 #draw

#1 if past half time
#0 if still before half time
def pastHalftime (x):
  if x>15: return 1
  else: return 0

meta_rounds['winner_class'] = meta_rounds['winner_team'].apply(lambda x: findwinnerclass(x))
meta_rounds['winner_side_class'] = meta_rounds['winner_side'].apply(lambda x: findwinnersideclass(x))
meta_rounds['past_halftime'] = meta_rounds['round'].apply(lambda x: pastHalftime(x))
meta_rounds

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                           file          map  ...  winner_side_class  past_halftime
0       esea_match_13770997.dem  de_overpass  ...                 -1              0
1       esea_match_13770997.dem  de_overpass  ...                 -1              0
2       esea_match_13770997.dem  de_overpass  ...                 -1              0
3       esea_match_13770997.dem  de_overpass  ...                 -1              0
4       esea_match_13770997.dem  de_overpass  ...                  1              0
...                         ...          ...  ...                ...            ...
340328  esea_match_13829173.dem    de_mirage  ...                 -1              1
340329  esea_match_13829173.dem    de_mirage  ...                 -1              1
340330  esea_match_13829173.dem    de_mirage  ...                 -1              1
340331  esea_match_13829173.dem    de_mirage  ...                 -1              1
340332  esea_match_13829173.dem    de_mirage  ...                 -1              1

[340333 rows x 18 columns]

In [142]:
#reorder columns
meta_rounds = meta_rounds[['file','map', 'round', 'start_seconds', 'end_seconds', 'round_duration', 'ct_eq_val', 't_eq_val', 'round_type','final_ct_alive', 'final_t_alive', 'is_bomb_planted', 'bomb_site', 'past_halftime', 'winner_team', 'winner_side', 'winner_class', 'winner_side_class']]
meta_rounds

                           file          map  ...  winner_class  winner_side_class
0       esea_match_13770997.dem  de_overpass  ...            -1                 -1
1       esea_match_13770997.dem  de_overpass  ...            -1                 -1
2       esea_match_13770997.dem  de_overpass  ...            -1                 -1
3       esea_match_13770997.dem  de_overpass  ...            -1                 -1
4       esea_match_13770997.dem  de_overpass  ...             1                  1
...                         ...          ...  ...           ...                ...
340328  esea_match_13829173.dem    de_mirage  ...             1                 -1
340329  esea_match_13829173.dem    de_mirage  ...             1                 -1
340330  esea_match_13829173.dem    de_mirage  ...             1                 -1
340331  esea_match_13829173.dem    de_mirage  ...             1                 -1
340332  esea_match_13829173.dem    de_mirage  ...             1                 -1

[340333 rows x 18 columns]

In [143]:
%%time
meta_rounds.to_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/rounds_agg.csv',index=False)

CPU times: user 2.85 s, sys: 74.8 ms, total: 2.92 s
Wall time: 3.21 s

In [144]:
test_load = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/rounds_agg.csv')
test_load

                           file          map  ...  winner_class  winner_side_class
0       esea_match_13770997.dem  de_overpass  ...            -1                 -1
1       esea_match_13770997.dem  de_overpass  ...            -1                 -1
2       esea_match_13770997.dem  de_overpass  ...            -1                 -1
3       esea_match_13770997.dem  de_overpass  ...            -1                 -1
4       esea_match_13770997.dem  de_overpass  ...             1                  1
...                         ...          ...  ...           ...                ...
340328  esea_match_13829173.dem    de_mirage  ...             1                 -1
340329  esea_match_13829173.dem    de_mirage  ...             1                 -1
340330  esea_match_13829173.dem    de_mirage  ...             1                 -1
340331  esea_match_13829173.dem    de_mirage  ...             1                 -1
340332  esea_match_13829173.dem    de_mirage  ...             1                 -1

[340333 rows x 18 columns]

In [145]:
def create_map_cols (df):
  unique_maps = df["map"].unique()

  map_dataframe = pd.DataFrame()

  for map_cs_go in unique_maps:
    map_dataframe[map_cs_go] = df["map"].apply(lambda x: 1 if x == map_cs_go else 0)

  df = pd.concat([df,map_dataframe], axis = 'columns', join = 'inner')
  df.drop(columns='map',inplace=True)
  
  return df

In [146]:
round_agg_predictions = create_map_cols(meta_rounds)
round_agg_predictions

                           file  round  ...  de_cbble  de_nuke
0       esea_match_13770997.dem      1  ...         0        0
1       esea_match_13770997.dem      2  ...         0        0
2       esea_match_13770997.dem      3  ...         0        0
3       esea_match_13770997.dem      4  ...         0        0
4       esea_match_13770997.dem      5  ...         0        0
...                         ...    ...  ...       ...      ...
340328  esea_match_13829173.dem     18  ...         0        0
340329  esea_match_13829173.dem     19  ...         0        0
340330  esea_match_13829173.dem     20  ...         0        0
340331  esea_match_13829173.dem     21  ...         0        0
340332  esea_match_13829173.dem     22  ...         0        0

[340333 rows x 25 columns]

In [147]:
def create_roundtype_cols (df):
  unique_types = df["round_type"].unique()

  type_df = pd.DataFrame()

  for rnd_types in unique_types:
    type_df[rnd_types] = df["round_type"].apply(lambda x: 1 if x == rnd_types else 0)

  df = pd.concat([df,type_df], axis = 'columns', join = 'inner')
  df.drop(columns='round_type',inplace=True)
  
  return df

In [148]:
round_agg_predictions = create_roundtype_cols(round_agg_predictions)
round_agg_predictions

                           file  round  ...  NORMAL  FORCE_BUY
0       esea_match_13770997.dem      1  ...       0          0
1       esea_match_13770997.dem      2  ...       0          0
2       esea_match_13770997.dem      3  ...       0          0
3       esea_match_13770997.dem      4  ...       1          0
4       esea_match_13770997.dem      5  ...       0          0
...                         ...    ...  ...     ...        ...
340328  esea_match_13829173.dem     18  ...       0          0
340329  esea_match_13829173.dem     19  ...       1          0
340330  esea_match_13829173.dem     20  ...       0          1
340331  esea_match_13829173.dem     21  ...       1          0
340332  esea_match_13829173.dem     22  ...       1          0

[340333 rows x 29 columns]

In [149]:
grenades_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/grenade_data.csv')
grenades_df

                            file  round  ...  vic_pos_x vic_pos_y
0        esea_match_13770997.dem      1  ...        NaN       NaN
1        esea_match_13770997.dem      2  ...   -2741.25 -1523.163
2        esea_match_13770997.dem      2  ...        NaN       NaN
3        esea_match_13770997.dem      2  ...        NaN       NaN
4        esea_match_13770997.dem      2  ...        NaN       NaN
...                          ...    ...  ...        ...       ...
4722309  esea_match_13829173.dem     22  ...        NaN       NaN
4722310  esea_match_13829173.dem     22  ...        NaN       NaN
4722311  esea_match_13829173.dem     22  ...        NaN       NaN
4722312  esea_match_13829173.dem     22  ...        NaN       NaN
4722313  esea_match_13829173.dem     22  ...        NaN       NaN

[4722314 rows x 23 columns]

In [150]:
def get_nadecounts (x):
  unique_types = df["round_type"].unique()

  type_df = pd.DataFrame()

  for rnd_types in unique_types:
    type_df[rnd_types] = df["round_type"].apply(lambda x: 1 if x == rnd_types else 0)

  df = pd.concat([df,type_df], axis = 'columns', join = 'inner')
  df.drop(columns='round_type',inplace=True)
  
  return df

In [151]:
grenades_df["nade"].unique()

array(['Smoke', 'HE', 'Molotov', 'Flash', 'Incendiary', 'Decoy'],
      dtype=object)

In [152]:
grenades_df["att_team"].unique()

array(['Team 1', 'Team 2'], dtype=object)

In [153]:
nade_types = grenades_df[["file","round","att_team","att_side","nade"]].copy()
nade_types

                            file  round att_team          att_side     nade
0        esea_match_13770997.dem      1   Team 1  CounterTerrorist    Smoke
1        esea_match_13770997.dem      2   Team 2         Terrorist       HE
2        esea_match_13770997.dem      2   Team 1  CounterTerrorist       HE
3        esea_match_13770997.dem      2   Team 1  CounterTerrorist       HE
4        esea_match_13770997.dem      2   Team 2         Terrorist  Molotov
...                          ...    ...      ...               ...      ...
4722309  esea_match_13829173.dem     22   Team 2  CounterTerrorist    Flash
4722310  esea_match_13829173.dem     22   Team 1         Terrorist    Flash
4722311  esea_match_13829173.dem     22   Team 1         Terrorist    Flash
4722312  esea_match_13829173.dem     22   Team 1         Terrorist  Molotov
4722313  esea_match_13829173.dem     22   Team 2  CounterTerrorist    Flash

[4722314 rows x 5 columns]

In [154]:
nade_types['t_lethal_nades_eff'] = 0
nade_types['ct_lethal_nades_eff']= 0
nade_types['t_util_nades_eff']= 0
nade_types['ct_util_nades_eff']= 0
nade_types

                            file  round  ... t_util_nades_eff ct_util_nades_eff
0        esea_match_13770997.dem      1  ...                0                 0
1        esea_match_13770997.dem      2  ...                0                 0
2        esea_match_13770997.dem      2  ...                0                 0
3        esea_match_13770997.dem      2  ...                0                 0
4        esea_match_13770997.dem      2  ...                0                 0
...                          ...    ...  ...              ...               ...
4722309  esea_match_13829173.dem     22  ...                0                 0
4722310  esea_match_13829173.dem     22  ...                0                 0
4722311  esea_match_13829173.dem     22  ...                0                 0
4722312  esea_match_13829173.dem     22  ...                0                 0
4722313  esea_match_13829173.dem     22  ...                0                 0

[4722314 rows x 9 columns]

In [155]:
def ifLethal (x): # 'HE', 'Molotov', 'Incendiary'
  if ((x=='HE') or (x=='Molotov') or (x=='Incendiary')): return 1 #A
  else: return 0

def ifUtil (x): # ['Smoke', 'Flash', 'Decoy']
  if ((x=='Smoke') or (x=='Flash') or (x=='Decoy')): return 1 #A
  else: return 0

def ifTside (x): # 'HE', 'Molotov', 'Incendiary'
  if (x=='Terrorist'): return 1 #A
  else: return 0

def ifCTside (x): # 'HE', 'Molotov', 'Incendiary'
  if (x=='CounterTerrorist'): return 1 #A
  else: return 0

nade_types['t_lethal_nades_eff'] = (nade_types['nade'].apply(lambda x: ifLethal(x)) * nade_types['att_side'].apply(lambda x: ifTside(x)))
nade_types['ct_lethal_nades_eff'] = (nade_types['nade'].apply(lambda x: ifLethal(x)) * nade_types['att_side'].apply(lambda x: ifCTside(x)))
nade_types['t_util_nades_eff'] = (nade_types['nade'].apply(lambda x: ifUtil(x)) * nade_types['att_side'].apply(lambda x: ifTside(x)))
nade_types['ct_util_nades_eff'] = (nade_types['nade'].apply(lambda x: ifUtil(x)) * nade_types['att_side'].apply(lambda x: ifCTside(x)))
nade_types

                            file  round  ... t_util_nades_eff ct_util_nades_eff
0        esea_match_13770997.dem      1  ...                0                 1
1        esea_match_13770997.dem      2  ...                0                 0
2        esea_match_13770997.dem      2  ...                0                 0
3        esea_match_13770997.dem      2  ...                0                 0
4        esea_match_13770997.dem      2  ...                0                 0
...                          ...    ...  ...              ...               ...
4722309  esea_match_13829173.dem     22  ...                0                 1
4722310  esea_match_13829173.dem     22  ...                1                 0
4722311  esea_match_13829173.dem     22  ...                1                 0
4722312  esea_match_13829173.dem     22  ...                0                 0
4722313  esea_match_13829173.dem     22  ...                0                 1

[4722314 rows x 9 columns]

In [156]:
combined_nade_types = nade_types.groupby(['file','round']).sum().reset_index()
combined_nade_types

                           file  round  ...  t_util_nades_eff  ct_util_nades_eff
0       esea_match_13770997.dem      1  ...                 0                  1
1       esea_match_13770997.dem      2  ...                 1                  2
2       esea_match_13770997.dem      3  ...                 1                  0
3       esea_match_13770997.dem      4  ...                 8                  1
4       esea_match_13770997.dem      5  ...                 2                  1
...                         ...    ...  ...               ...                ...
340328  esea_match_13829173.dem     18  ...                 3                  0
340329  esea_match_13829173.dem     19  ...                 6                  3
340330  esea_match_13829173.dem     20  ...                 4                  4
340331  esea_match_13829173.dem     21  ...                 2                  3
340332  esea_match_13829173.dem     22  ...                 6                  2

[340333 rows x 6 columns]

In [157]:
round_agg_predictions = pd.merge(round_agg_predictions, combined_nade_types,  how='left', left_on=['file','round'], right_on = ['file','round'])
round_agg_predictions

                           file  round  ...  t_util_nades_eff  ct_util_nades_eff
0       esea_match_13770997.dem      1  ...                 0                  1
1       esea_match_13770997.dem      2  ...                 1                  2
2       esea_match_13770997.dem      3  ...                 1                  0
3       esea_match_13770997.dem      4  ...                 8                  1
4       esea_match_13770997.dem      5  ...                 2                  1
...                         ...    ...  ...               ...                ...
340328  esea_match_13829173.dem     18  ...                 3                  0
340329  esea_match_13829173.dem     19  ...                 6                  3
340330  esea_match_13829173.dem     20  ...                 4                  4
340331  esea_match_13829173.dem     21  ...                 2                  3
340332  esea_match_13829173.dem     22  ...                 6                  2

[340333 rows x 33 columns]

In [158]:
round_agg_predictions.columns

Index(['file', 'round', 'start_seconds', 'end_seconds', 'round_duration',
       'ct_eq_val', 't_eq_val', 'final_ct_alive', 'final_t_alive',
       'is_bomb_planted', 'bomb_site', 'past_halftime', 'winner_team',
       'winner_side', 'winner_class', 'winner_side_class', 'de_overpass',
       'de_cache', 'de_mirage', 'de_inferno', 'de_train', 'de_dust2',
       'de_cbble', 'de_nuke', 'PISTOL_ROUND', 'ECO', 'SEMI_ECO', 'NORMAL',
       'FORCE_BUY', 't_lethal_nades_eff', 'ct_lethal_nades_eff',
       't_util_nades_eff', 'ct_util_nades_eff'],
      dtype='object')

In [159]:
round_agg_predictions = round_agg_predictions[['file', 'round', 'start_seconds', 'end_seconds', 'round_duration',
       'ct_eq_val', 't_eq_val', 'final_ct_alive', 'final_t_alive',
       'is_bomb_planted', 'bomb_site', 'past_halftime',  'de_overpass',
       'de_cache', 'de_mirage', 'de_inferno', 'de_train', 'de_dust2',
       'de_cbble', 'de_nuke', 'PISTOL_ROUND', 'ECO', 'SEMI_ECO', 'NORMAL',
       'FORCE_BUY', 't_lethal_nades_eff', 'ct_lethal_nades_eff',
       't_util_nades_eff', 'ct_util_nades_eff','winner_team',
       'winner_side', 'winner_class', 'winner_side_class']] #reorder columns
round_agg_predictions

                           file  round  ...  winner_class  winner_side_class
0       esea_match_13770997.dem      1  ...            -1                 -1
1       esea_match_13770997.dem      2  ...            -1                 -1
2       esea_match_13770997.dem      3  ...            -1                 -1
3       esea_match_13770997.dem      4  ...            -1                 -1
4       esea_match_13770997.dem      5  ...             1                  1
...                         ...    ...  ...           ...                ...
340328  esea_match_13829173.dem     18  ...             1                 -1
340329  esea_match_13829173.dem     19  ...             1                 -1
340330  esea_match_13829173.dem     20  ...             1                 -1
340331  esea_match_13829173.dem     21  ...             1                 -1
340332  esea_match_13829173.dem     22  ...             1                 -1

[340333 rows x 33 columns]

In [160]:
%%time
round_agg_predictions.to_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/rounds_agg_v2.csv',index=False)

CPU times: user 3.56 s, sys: 74.9 ms, total: 3.64 s
Wall time: 3.99 s

In [161]:
predict_side_rnddata = round_agg_predictions.drop(columns=['file','winner_team','winner_side','winner_class','final_ct_alive', 'final_t_alive'])
predict_side_rnddata

        round  start_seconds  ...  ct_util_nades_eff  winner_side_class
0           1       94.30782  ...                  1                 -1
1           2      160.95910  ...                  2                 -1
2           3      279.39980  ...                  0                 -1
3           4      341.00840  ...                  1                 -1
4           5      435.42590  ...                  1                  1
...       ...            ...  ...                ...                ...
340328     18     1647.20600  ...                  0                 -1
340329     19     1694.65500  ...                  3                 -1
340330     20     1753.43800  ...                  4                 -1
340331     21     1803.65800  ...                  3                 -1
340332     22     1856.08500  ...                  2                 -1

[340333 rows x 27 columns]

In [162]:
predict_team_rnddata = round_agg_predictions.drop(columns=['file','winner_team','winner_side','winner_side_class','final_ct_alive', 'final_t_alive'])
predict_team_rnddata

        round  start_seconds  ...  ct_util_nades_eff  winner_class
0           1       94.30782  ...                  1            -1
1           2      160.95910  ...                  2            -1
2           3      279.39980  ...                  0            -1
3           4      341.00840  ...                  1            -1
4           5      435.42590  ...                  1             1
...       ...            ...  ...                ...           ...
340328     18     1647.20600  ...                  0             1
340329     19     1694.65500  ...                  3             1
340330     20     1753.43800  ...                  4             1
340331     21     1803.65800  ...                  3             1
340332     22     1856.08500  ...                  2             1

[340333 rows x 27 columns]

### replace NA wit mean (the round duration data for only one match data appears to be corrupted)

In [163]:
predict_side_rnddata[predict_side_rnddata.isna().any(axis=1)]

       round  start_seconds  ...  ct_util_nades_eff  winner_side_class
31205      1            NaN  ...                  2                 -1
31206      2            NaN  ...                  0                 -1
31207      3            NaN  ...                  0                 -1
31208      4            NaN  ...                  7                  1
31209      5            NaN  ...                  8                 -1
31210      6            NaN  ...                  1                 -1
31211      7            NaN  ...                  3                 -1
31212      8            NaN  ...                  1                 -1
31213      9            NaN  ...                  9                  1
31214     10            NaN  ...                  4                 -1
31215     11            NaN  ...                  0                  1
31216     12            NaN  ...                  4                 -1
31217     13            NaN  ...                  3                 -1
31218     14            NaN  ...                  3                 -1
31219     15            NaN  ...                  5                  1
31220     16            NaN  ...                  0                  1
31221     17            NaN  ...                  5                  1
31222     18            NaN  ...                  3                  1
31223     19            NaN  ...                  4                  1
31224     20            NaN  ...                  4                  1

[20 rows x 27 columns]

In [164]:
predict_side_rnddata['start_seconds'].fillna((predict_side_rnddata['start_seconds'].mean()), inplace=True)
predict_side_rnddata['end_seconds'].fillna((predict_side_rnddata['end_seconds'].mean()), inplace=True)
predict_side_rnddata['round_duration'].fillna((predict_side_rnddata['round_duration'].mean()), inplace=True)
predict_side_rnddata[predict_side_rnddata.isna().any(axis=1)]

Empty DataFrame
Columns: [round, start_seconds, end_seconds, round_duration, ct_eq_val, t_eq_val, is_bomb_planted, bomb_site, past_halftime, de_overpass, de_cache, de_mirage, de_inferno, de_train, de_dust2, de_cbble, de_nuke, PISTOL_ROUND, ECO, SEMI_ECO, NORMAL, FORCE_BUY, t_lethal_nades_eff, ct_lethal_nades_eff, t_util_nades_eff, ct_util_nades_eff, winner_side_class]
Index: []

In [165]:
predict_team_rnddata[predict_team_rnddata.isna().any(axis=1)]

       round  start_seconds  ...  ct_util_nades_eff  winner_class
31205      1            NaN  ...                  2            -1
31206      2            NaN  ...                  0            -1
31207      3            NaN  ...                  0            -1
31208      4            NaN  ...                  7             1
31209      5            NaN  ...                  8            -1
31210      6            NaN  ...                  1            -1
31211      7            NaN  ...                  3            -1
31212      8            NaN  ...                  1            -1
31213      9            NaN  ...                  9             1
31214     10            NaN  ...                  4            -1
31215     11            NaN  ...                  0             1
31216     12            NaN  ...                  4            -1
31217     13            NaN  ...                  3            -1
31218     14            NaN  ...                  3            -1
31219     15            NaN  ...                  5             1
31220     16            NaN  ...                  0            -1
31221     17            NaN  ...                  5            -1
31222     18            NaN  ...                  3            -1
31223     19            NaN  ...                  4            -1
31224     20            NaN  ...                  4            -1

[20 rows x 27 columns]

In [166]:
predict_team_rnddata['start_seconds'].fillna((predict_team_rnddata['start_seconds'].mean()), inplace=True)
predict_team_rnddata['end_seconds'].fillna((predict_team_rnddata['end_seconds'].mean()), inplace=True)
predict_team_rnddata['round_duration'].fillna((predict_team_rnddata['round_duration'].mean()), inplace=True)
predict_team_rnddata[predict_team_rnddata.isna().any(axis=1)]

Empty DataFrame
Columns: [round, start_seconds, end_seconds, round_duration, ct_eq_val, t_eq_val, is_bomb_planted, bomb_site, past_halftime, de_overpass, de_cache, de_mirage, de_inferno, de_train, de_dust2, de_cbble, de_nuke, PISTOL_ROUND, ECO, SEMI_ECO, NORMAL, FORCE_BUY, t_lethal_nades_eff, ct_lethal_nades_eff, t_util_nades_eff, ct_util_nades_eff, winner_class]
Index: []

### write to file

In [167]:
%%time
predict_side_rnddata.to_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput/winner_side_rounds_agg.csv',index=False)
predict_team_rnddata.to_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput/winner_team_rounds_agg.csv',index=False)

CPU times: user 5.83 s, sys: 151 ms, total: 5.98 s
Wall time: 6.57 s

In [168]:
test_load = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput/winner_side_rounds_agg.csv')
test_load

        round  start_seconds  ...  ct_util_nades_eff  winner_side_class
0           1       94.30782  ...                  1                 -1
1           2      160.95910  ...                  2                 -1
2           3      279.39980  ...                  0                 -1
3           4      341.00840  ...                  1                 -1
4           5      435.42590  ...                  1                  1
...       ...            ...  ...                ...                ...
340328     18     1647.20600  ...                  0                 -1
340329     19     1694.65500  ...                  3                 -1
340330     20     1753.43800  ...                  4                 -1
340331     21     1803.65800  ...                  3                 -1
340332     22     1856.08500  ...                  2                 -1

[340333 rows x 27 columns]

In [169]:
test_load = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput/winner_team_rounds_agg.csv')
test_load

        round  start_seconds  ...  ct_util_nades_eff  winner_class
0           1       94.30782  ...                  1            -1
1           2      160.95910  ...                  2            -1
2           3      279.39980  ...                  0            -1
3           4      341.00840  ...                  1            -1
4           5      435.42590  ...                  1             1
...       ...            ...  ...                ...           ...
340328     18     1647.20600  ...                  0             1
340329     19     1694.65500  ...                  3             1
340330     20     1753.43800  ...                  4             1
340331     21     1803.65800  ...                  3             1
340332     22     1856.08500  ...                  2             1

[340333 rows x 27 columns]