<a href="https://colab.research.google.com/github/gandhimonil9823/CS_GO_Analysis/blob/main/preprocessing/Aggregate_match_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import os

### Mount data from Google Drive

In [3]:
#mount data folder from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Change dir and check contents

In [4]:
cd '/content/drive/Shareddrives/CS_GO_Data/processed_data_v2'

/content/drive/Shareddrives/CS_GO_Data/processed_data_v2

In [5]:
ls

aggregated_data/  grenade_data.csv  Log_ROC.png   meta_data.csv
damage_data.csv   kill_data.csv     map_data.csv

### 1) load data

In [6]:
%%time
meta_df = pd.read_csv('/content/drive/Shared drives/CS_GO_Data/processed_data_v2/meta_data.csv')
#map_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/map_data.csv')
#kills_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/kill_data.csv')
#grenades_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/grenade_data.csv')
#damage_df = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/damage_data.csv')

CPU times: user 398 ms, sys: 77 ms, total: 475 ms
Wall time: 1.15 s

In [7]:
#match_meta_df
#file, map,  num_rounds, winner_score, loser_score, winner_team, avg_eq_val, avg_round_length

In [8]:
meta_df.dtypes
#add the following
#bomb plant

file              object
map               object
round              int64
start_seconds    float64
end_seconds      float64
winner_team       object
winner_side       object
round_type        object
ct_eq_val          int64
t_eq_val           int64
dtype: object

In [9]:
meta_df

                           file          map  ...  ct_eq_val  t_eq_val
0       esea_match_13770997.dem  de_overpass  ...       4300      4250
1       esea_match_13770997.dem  de_overpass  ...       6300     19400
2       esea_match_13770997.dem  de_overpass  ...       7650     19250
3       esea_match_13770997.dem  de_overpass  ...      24900     23400
4       esea_match_13770997.dem  de_overpass  ...       5400     20550
...                         ...          ...  ...        ...       ...
340328  esea_match_13829173.dem    de_mirage  ...       4500     21950
340329  esea_match_13829173.dem    de_mirage  ...      16400     26100
340330  esea_match_13829173.dem    de_mirage  ...      15100     26000
340331  esea_match_13829173.dem    de_mirage  ...      17550     25500
340332  esea_match_13829173.dem    de_mirage  ...      21150     26550

[340333 rows x 10 columns]

In [10]:
smaller_meta_df = meta_df[['file','map','round','winner_team','ct_eq_val','t_eq_val']].copy()
smaller_meta_df

                           file          map  ...  ct_eq_val t_eq_val
0       esea_match_13770997.dem  de_overpass  ...       4300     4250
1       esea_match_13770997.dem  de_overpass  ...       6300    19400
2       esea_match_13770997.dem  de_overpass  ...       7650    19250
3       esea_match_13770997.dem  de_overpass  ...      24900    23400
4       esea_match_13770997.dem  de_overpass  ...       5400    20550
...                         ...          ...  ...        ...      ...
340328  esea_match_13829173.dem    de_mirage  ...       4500    21950
340329  esea_match_13829173.dem    de_mirage  ...      16400    26100
340330  esea_match_13829173.dem    de_mirage  ...      15100    26000
340331  esea_match_13829173.dem    de_mirage  ...      17550    25500
340332  esea_match_13829173.dem    de_mirage  ...      21150    26550

[340333 rows x 6 columns]

In [11]:
smaller_meta_df['round_duration'] = meta_df['end_seconds'] - meta_df['start_seconds']
smaller_meta_df

                           file          map  ...  t_eq_val round_duration
0       esea_match_13770997.dem  de_overpass  ...      4250       66.65128
1       esea_match_13770997.dem  de_overpass  ...     19400      118.44070
2       esea_match_13770997.dem  de_overpass  ...     19250       61.60860
3       esea_match_13770997.dem  de_overpass  ...     23400       94.41750
4       esea_match_13770997.dem  de_overpass  ...     20550       48.81390
...                         ...          ...  ...       ...            ...
340328  esea_match_13829173.dem    de_mirage  ...     21950       47.44900
340329  esea_match_13829173.dem    de_mirage  ...     26100       58.78300
340330  esea_match_13829173.dem    de_mirage  ...     26000       50.22000
340331  esea_match_13829173.dem    de_mirage  ...     25500       52.42700
340332  esea_match_13829173.dem    de_mirage  ...     26550       49.78100

[340333 rows x 7 columns]

In [12]:
#match_rounds = smaller_meta_df[['file','round','map']].groupby(['file','map']).max()
match_rounds = smaller_meta_df[['file','round','map']].groupby(['file']).max()
#match_rounds.reset_index
match_rounds

                         round          map
file
esea_match_13770997.dem     25  de_overpass
esea_match_13779704.dem     39     de_cache
esea_match_13779770.dem     29    de_mirage
esea_match_13779775.dem     30   de_inferno
esea_match_13779780.dem     29   de_inferno
...                        ...          ...
esea_match_13829155.dem     29     de_cache
esea_match_13829165.dem     24     de_dust2
esea_match_13829169.dem     18    de_mirage
esea_match_13829171.dem     24     de_train
esea_match_13829173.dem     22    de_mirage

[13461 rows x 2 columns]

In [13]:
match_avgs = smaller_meta_df[['file','ct_eq_val','t_eq_val','round_duration']].groupby("file").mean()
match_avgs

                            ct_eq_val      t_eq_val  round_duration
file
esea_match_13770997.dem  22204.166667  17814.583333       84.747674
esea_match_13779704.dem  21267.948718  21329.487179       97.655995
esea_match_13779770.dem  20307.407407  16892.592593       94.112689
esea_match_13779775.dem  18981.666667  20176.666667       94.452687
esea_match_13779780.dem  17970.689655  18365.517241      102.916448
...                               ...           ...             ...
esea_match_13829155.dem  15477.586207  22377.586207       81.956562
esea_match_13829165.dem  16373.913043  20658.695652       74.316426
esea_match_13829169.dem  20725.000000  12825.000000       87.696972
esea_match_13829171.dem  20535.416667  16887.500000       75.069213
esea_match_13829173.dem  20316.666667  17804.761905       80.030662

[13461 rows x 3 columns]

In [14]:
match_avgs['avg_eq_val'] = match_avgs.loc[: , "ct_eq_val":"t_eq_val"].mean(axis=1)
match_avgs

                            ct_eq_val  ...    avg_eq_val
file                                   ...
esea_match_13770997.dem  22204.166667  ...  20009.375000
esea_match_13779704.dem  21267.948718  ...  21298.717949
esea_match_13779770.dem  20307.407407  ...  18600.000000
esea_match_13779775.dem  18981.666667  ...  19579.166667
esea_match_13779780.dem  17970.689655  ...  18168.103448
...                               ...  ...           ...
esea_match_13829155.dem  15477.586207  ...  18927.586207
esea_match_13829165.dem  16373.913043  ...  18516.304348
esea_match_13829169.dem  20725.000000  ...  16775.000000
esea_match_13829171.dem  20535.416667  ...  18711.458333
esea_match_13829173.dem  20316.666667  ...  19060.714286

[13461 rows x 4 columns]

In [15]:
match_avgs.drop(columns=['ct_eq_val', 't_eq_val'],inplace=True)
match_avgs

                         round_duration    avg_eq_val
file
esea_match_13770997.dem       84.747674  20009.375000
esea_match_13779704.dem       97.655995  21298.717949
esea_match_13779770.dem       94.112689  18600.000000
esea_match_13779775.dem       94.452687  19579.166667
esea_match_13779780.dem      102.916448  18168.103448
...                                 ...           ...
esea_match_13829155.dem       81.956562  18927.586207
esea_match_13829165.dem       74.316426  18516.304348
esea_match_13829169.dem       87.696972  16775.000000
esea_match_13829171.dem       75.069213  18711.458333
esea_match_13829173.dem       80.030662  19060.714286

[13461 rows x 2 columns]

In [16]:
match_wins = smaller_meta_df[['file','winner_team']]
match_wins

                           file winner_team
0       esea_match_13770997.dem      Team 2
1       esea_match_13770997.dem      Team 2
2       esea_match_13770997.dem      Team 2
3       esea_match_13770997.dem      Team 2
4       esea_match_13770997.dem      Team 1
...                         ...         ...
340328  esea_match_13829173.dem      Team 1
340329  esea_match_13829173.dem      Team 1
340330  esea_match_13829173.dem      Team 1
340331  esea_match_13829173.dem      Team 1
340332  esea_match_13829173.dem      Team 1

[340333 rows x 2 columns]

In [17]:
match_wins['team_1_wins'] = match_wins['winner_team'].apply(lambda x: 1 if x=='Team 1' else 0)
match_wins

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                           file winner_team  team_1_wins
0       esea_match_13770997.dem      Team 2            0
1       esea_match_13770997.dem      Team 2            0
2       esea_match_13770997.dem      Team 2            0
3       esea_match_13770997.dem      Team 2            0
4       esea_match_13770997.dem      Team 1            1
...                         ...         ...          ...
340328  esea_match_13829173.dem      Team 1            1
340329  esea_match_13829173.dem      Team 1            1
340330  esea_match_13829173.dem      Team 1            1
340331  esea_match_13829173.dem      Team 1            1
340332  esea_match_13829173.dem      Team 1            1

[340333 rows x 3 columns]

In [18]:
match_wins = match_wins[['file','team_1_wins']].groupby('file').sum()
match_wins

                         team_1_wins
file
esea_match_13770997.dem            9
esea_match_13779704.dem           18
esea_match_13779770.dem           14
esea_match_13779775.dem           16
esea_match_13779780.dem           15
...                              ...
esea_match_13829155.dem           16
esea_match_13829165.dem           15
esea_match_13829169.dem           15
esea_match_13829171.dem           16
esea_match_13829173.dem           15

[13461 rows x 1 columns]

In [19]:
match_wins = match_wins.merge(match_rounds, on='file', how='outer')
match_wins

                         team_1_wins  round          map
file
esea_match_13770997.dem            9     25  de_overpass
esea_match_13779704.dem           18     39     de_cache
esea_match_13779770.dem           14     29    de_mirage
esea_match_13779775.dem           16     30   de_inferno
esea_match_13779780.dem           15     29   de_inferno
...                              ...    ...          ...
esea_match_13829155.dem           16     29     de_cache
esea_match_13829165.dem           15     24     de_dust2
esea_match_13829169.dem           15     18    de_mirage
esea_match_13829171.dem           16     24     de_train
esea_match_13829173.dem           15     22    de_mirage

[13461 rows x 3 columns]

In [20]:
match_wins['team_2_wins'] = match_wins['round'] - match_wins['team_1_wins']
match_wins

                         team_1_wins  round          map  team_2_wins
file
esea_match_13770997.dem            9     25  de_overpass           16
esea_match_13779704.dem           18     39     de_cache           21
esea_match_13779770.dem           14     29    de_mirage           15
esea_match_13779775.dem           16     30   de_inferno           14
esea_match_13779780.dem           15     29   de_inferno           14
...                              ...    ...          ...          ...
esea_match_13829155.dem           16     29     de_cache           13
esea_match_13829165.dem           15     24     de_dust2            9
esea_match_13829169.dem           15     18    de_mirage            3
esea_match_13829171.dem           16     24     de_train            8
esea_match_13829173.dem           15     22    de_mirage            7

[13461 rows x 4 columns]

In [21]:
match_wins['team1-team2'] =  match_wins['team_1_wins'] - match_wins['team_2_wins']
match_wins

                         team_1_wins  round  ... team_2_wins  team1-team2
file                                         ...
esea_match_13770997.dem            9     25  ...          16           -7
esea_match_13779704.dem           18     39  ...          21           -3
esea_match_13779770.dem           14     29  ...          15           -1
esea_match_13779775.dem           16     30  ...          14            2
esea_match_13779780.dem           15     29  ...          14            1
...                              ...    ...  ...         ...          ...
esea_match_13829155.dem           16     29  ...          13            3
esea_match_13829165.dem           15     24  ...           9            6
esea_match_13829169.dem           15     18  ...           3           12
esea_match_13829171.dem           16     24  ...           8            8
esea_match_13829173.dem           15     22  ...           7            8

[13461 rows x 5 columns]

In [22]:
def findwinner (x):
  if x >0: return 'Team 1'
  elif x<0: return 'Team 2'
  else: return 'draw'

match_wins['winner'] = match_wins['team1-team2'].apply(lambda x: findwinner(x))
match_wins

                         team_1_wins  round  ... team1-team2  winner
file                                         ...
esea_match_13770997.dem            9     25  ...          -7  Team 2
esea_match_13779704.dem           18     39  ...          -3  Team 2
esea_match_13779770.dem           14     29  ...          -1  Team 2
esea_match_13779775.dem           16     30  ...           2  Team 1
esea_match_13779780.dem           15     29  ...           1  Team 1
...                              ...    ...  ...         ...     ...
esea_match_13829155.dem           16     29  ...           3  Team 1
esea_match_13829165.dem           15     24  ...           6  Team 1
esea_match_13829169.dem           15     18  ...          12  Team 1
esea_match_13829171.dem           16     24  ...           8  Team 1
esea_match_13829173.dem           15     22  ...           8  Team 1

[13461 rows x 6 columns]

In [23]:
match_avgs
match = match_wins.merge(match_avgs, on='file', how='outer')
match

                         team_1_wins  round  ... round_duration    avg_eq_val
file                                         ...
esea_match_13770997.dem            9     25  ...      84.747674  20009.375000
esea_match_13779704.dem           18     39  ...      97.655995  21298.717949
esea_match_13779770.dem           14     29  ...      94.112689  18600.000000
esea_match_13779775.dem           16     30  ...      94.452687  19579.166667
esea_match_13779780.dem           15     29  ...     102.916448  18168.103448
...                              ...    ...  ...            ...           ...
esea_match_13829155.dem           16     29  ...      81.956562  18927.586207
esea_match_13829165.dem           15     24  ...      74.316426  18516.304348
esea_match_13829169.dem           15     18  ...      87.696972  16775.000000
esea_match_13829171.dem           16     24  ...      75.069213  18711.458333
esea_match_13829173.dem           15     22  ...      80.030662  19060.714286

[13461 rows x 8 columns]

In [24]:
match.rename(columns={"round": "num_rounds", "round_duration": "avg_round_duration", "team_2_wins": "team_2_score", "team_1_wins": "team_1_score", "avg_eq_val": "avg_equip_val"},inplace=True)
match

                         team_1_score  ...  avg_equip_val
file                                   ...
esea_match_13770997.dem             9  ...   20009.375000
esea_match_13779704.dem            18  ...   21298.717949
esea_match_13779770.dem            14  ...   18600.000000
esea_match_13779775.dem            16  ...   19579.166667
esea_match_13779780.dem            15  ...   18168.103448
...                               ...  ...            ...
esea_match_13829155.dem            16  ...   18927.586207
esea_match_13829165.dem            15  ...   18516.304348
esea_match_13829169.dem            15  ...   16775.000000
esea_match_13829171.dem            16  ...   18711.458333
esea_match_13829173.dem            15  ...   19060.714286

[13461 rows x 8 columns]

In [25]:
list(match.columns.values)

['team_1_score',
 'num_rounds',
 'map',
 'team_2_score',
 'team1-team2',
 'winner',
 'avg_round_duration',
 'avg_equip_val']

In [27]:
#reorder columns
match = match[['map', 'num_rounds', 'avg_round_duration', 'avg_equip_val', 'team_1_score', 'team_2_score', 'winner']]
match

                                 map  num_rounds  ...  team_2_score  winner
file                                              ...
esea_match_13770997.dem  de_overpass          25  ...            16  Team 2
esea_match_13779704.dem     de_cache          39  ...            21  Team 2
esea_match_13779770.dem    de_mirage          29  ...            15  Team 2
esea_match_13779775.dem   de_inferno          30  ...            14  Team 1
esea_match_13779780.dem   de_inferno          29  ...            14  Team 1
...                              ...         ...  ...           ...     ...
esea_match_13829155.dem     de_cache          29  ...            13  Team 1
esea_match_13829165.dem     de_dust2          24  ...             9  Team 1
esea_match_13829169.dem    de_mirage          18  ...             3  Team 1
esea_match_13829171.dem     de_train          24  ...             8  Team 1
esea_match_13829173.dem    de_mirage          22  ...             7  Team 1

[13461 rows x 7 columns]

In [28]:
match['winner'].value_counts()

Team 1    6816
Team 2    6082
draw       563
Name: winner, dtype: int64

In [29]:
#class=1 if Team 1 won
#class=-1 if Team 2 won
#class=0 if draw

def findwinnerclass (x):
  if x=='Team 1': return 1
  elif x=='Team 2': return -1
  else: return 0 #draw

match['winner_class'] = match_wins['winner'].apply(lambda x: findwinnerclass(x))
match

                                 map  num_rounds  ...  winner  winner_class
file                                              ...
esea_match_13770997.dem  de_overpass          25  ...  Team 2            -1
esea_match_13779704.dem     de_cache          39  ...  Team 2            -1
esea_match_13779770.dem    de_mirage          29  ...  Team 2            -1
esea_match_13779775.dem   de_inferno          30  ...  Team 1             1
esea_match_13779780.dem   de_inferno          29  ...  Team 1             1
...                              ...         ...  ...     ...           ...
esea_match_13829155.dem     de_cache          29  ...  Team 1             1
esea_match_13829165.dem     de_dust2          24  ...  Team 1             1
esea_match_13829169.dem    de_mirage          18  ...  Team 1             1
esea_match_13829171.dem     de_train          24  ...  Team 1             1
esea_match_13829173.dem    de_mirage          22  ...  Team 1             1

[13461 rows x 8 columns]

In [30]:
%%time
match.to_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/matches_agg.csv')

CPU times: user 68.4 ms, sys: 3.22 ms, total: 71.6 ms
Wall time: 322 ms

In [31]:
test_load = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/matches_agg.csv')
test_load

                          file          map  ...  winner  winner_class
0      esea_match_13770997.dem  de_overpass  ...  Team 2            -1
1      esea_match_13779704.dem     de_cache  ...  Team 2            -1
2      esea_match_13779770.dem    de_mirage  ...  Team 2            -1
3      esea_match_13779775.dem   de_inferno  ...  Team 1             1
4      esea_match_13779780.dem   de_inferno  ...  Team 1             1
...                        ...          ...  ...     ...           ...
13456  esea_match_13829155.dem     de_cache  ...  Team 1             1
13457  esea_match_13829165.dem     de_dust2  ...  Team 1             1
13458  esea_match_13829169.dem    de_mirage  ...  Team 1             1
13459  esea_match_13829171.dem     de_train  ...  Team 1             1
13460  esea_match_13829173.dem    de_mirage  ...  Team 1             1

[13461 rows x 9 columns]