<a href="https://colab.research.google.com/github/gandhimonil9823/CS_GO_Analysis/blob/main/CS_GO_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
test_df = pd.read_csv('map_data.csv', index_col=0).reset_index(drop=True)

In [ ]:
test_df

   EndX  EndY  ResX  ResY  StartX  StartY
0  3752  3187  1024  1024   -2031   -2240
1  2282  3032  1024  1024   -3819   -3073
2  2127  3455  1024  1024   -2486   -1150
3  2797  3800  1024  1024   -1960   -1062
4  1912  1682  1024  1024   -3217   -3401
5   503  1740  1024  1024   -4820   -3591
6  2262  2447  1024  1024   -2436   -2469