<a href="https://colab.research.google.com/github/gandhimonil9823/CS_GO_Analysis/blob/main/CS_GO_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#drive.mount(r'drive/folders/0AAxMXLC9WPNxUk9PVA')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd 'drive/Shared drives/CS_GO_Data'

[Errno 2] No such file or directory: 'drive/Shared drives/CS_GO_Data'
/content/drive/Shared drives/CS_GO_Data

In [ ]:
ls

 cs_cruise.png             de_santorini.png
'data preprocessing.txt'   de_season.png
 de_cache.png              de_train.png
 de_cbble.png              de_tulip.png
 de_coast.png              esea_master_dmg_demos.part1.csv
 de_dust2.png              esea_master_grenades_demos.part1.csv
 de_empire.png             esea_master_grenades_demos.part2.csv
 de_inferno.png            esea_master_kills_demos.part1.csv
 de_mikla.png              esea_master_kills_demos.part2.csv
 de_mirage.png             esea_meta_demos.part1.csv
 de_new_nuke.png           esea_meta_demos.part2.csv
 de_nuke.png               map_data.csv
 de_overpass.png           mm_master_demos.csv
 de_royal.png

In [ ]:
esea_meta_demos = pd.read_csv('esea_meta_demos.part1.csv', index_col=0).reset_index(drop=True)

In [ ]:
esea_meta_demos

                map  round  start_seconds  ...    round_type ct_eq_val t_eq_val
0       de_overpass      1       94.30782  ...  PISTOL_ROUND      4300     4250
1       de_overpass      2      160.95910  ...           ECO      6300    19400
2       de_overpass      3      279.39980  ...      SEMI_ECO      7650    19250
3       de_overpass      4      341.00840  ...        NORMAL     24900    23400
4       de_overpass      5      435.42590  ...           ECO      5400    20550
...             ...    ...            ...  ...           ...       ...      ...
215914     de_cache     14     1062.96100  ...        NORMAL     28400    25800
215915     de_cache     15     1129.04600  ...     FORCE_BUY     13150    25550
215916     de_cache     16     1221.13300  ...  PISTOL_ROUND      4200     4250
215917     de_cache     17     1288.46900  ...      SEMI_ECO     18300     8200
215918     de_cache     18     1342.44500  ...      SEMI_ECO     24400     9950

[215919 rows x 9 columns]