<a href="https://colab.research.google.com/github/gandhimonil9823/CS_GO_Analysis/blob/main/CS_GO_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import os

In [17]:
from google.colab import drive
drive.mount('/content/drive')
#drive.mount(r'drive/folders/0AAxMXLC9WPNxUk9PVA')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
cd 'drive/Shared drives/CS_GO_Data'

[Errno 2] No such file or directory: 'drive/Shared drives/CS_GO_Data'
/content/drive/Shared drives/CS_GO_Data

In [19]:
ls

 cs_cruise.png             de_santorini.png
'data preprocessing.txt'   de_season.png
 de_cache.png              de_train.png
 de_cbble.png              de_tulip.png
 de_coast.png              dont_use/
 de_dust2.png              esea_master_dmg_demos.part1.csv
 de_empire.png             esea_master_dmg_demos.part2.csv
 de_inferno.png            esea_master_grenades_demos.part1.csv
 de_mikla.png              esea_master_grenades_demos.part2.csv
 de_mirage.png             esea_master_kills_demos.part1.csv
 de_new_nuke.png           esea_master_kills_demos.part2.csv
 de_nuke.png               esea_meta_demos.part1.csv
 de_overpass.png           esea_meta_demos.part2.csv
 de_royal.png              map_data.csv

### only use the ESEA csv files, map data and the map pngs

In [23]:
esea_meta_demos1 = pd.read_csv('esea_meta_demos.part1.csv', index_col=0)
esea_meta_demos2 = pd.read_csv('esea_meta_demos.part2.csv', index_col=0)

In [24]:
esea_meta_demos1

                                 map  round  ...  ct_eq_val  t_eq_val
file                                         ...
esea_match_13770997.dem  de_overpass      1  ...       4300      4250
esea_match_13770997.dem  de_overpass      2  ...       6300     19400
esea_match_13770997.dem  de_overpass      3  ...       7650     19250
esea_match_13770997.dem  de_overpass      4  ...      24900     23400
esea_match_13770997.dem  de_overpass      5  ...       5400     20550
...                              ...    ...  ...        ...       ...
esea_match_13793043.dem     de_cache     14  ...      28400     25800
esea_match_13793043.dem     de_cache     15  ...      13150     25550
esea_match_13793043.dem     de_cache     16  ...       4200      4250
esea_match_13793043.dem     de_cache     17  ...      18300      8200
esea_match_13793043.dem     de_cache     18  ...      24400      9950

[215919 rows x 9 columns]

In [22]:
print('test')

test