<a href="https://colab.research.google.com/github/gandhimonil9823/CS_GO_Analysis/blob/main/XGBoost_and_AdaBoost_classifiers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
import os

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.metrics import make_scorer, confusion_matrix, classification_report, precision_score, r2_score, f1_score, recall_score

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

from xgboost import XGBClassifier

import time

### Mount data from Google Drive

In [3]:
#mount data folder from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Change dir and check contents

In [4]:
cd '/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput'

/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput

In [5]:
ls

winner_matches_agg.csv  winner_side_rounds_agg.csv  winner_team_rounds_agg.csv

### load data

In [6]:
%%time
pred_team_matches = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput/winner_matches_agg.csv')
pred_team_rounds = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput/winner_side_rounds_agg.csv')
pred_side_rounds = pd.read_csv('/content/drive/Shareddrives/CS_GO_Data/processed_data_v2/aggregated_data/modelinput/winner_team_rounds_agg.csv')

CPU times: user 1.52 s, sys: 207 ms, total: 1.73 s
Wall time: 2.87 s

In [7]:
pred_team_matches

       num_rounds  avg_round_duration  ...  de_nuke  winner_class
0              25           84.747674  ...        0            -1
1              39           97.655995  ...        0            -1
2              29           94.112689  ...        0            -1
3              30           94.452687  ...        0             1
4              29          102.916448  ...        0             1
...           ...                 ...  ...      ...           ...
13456          29           81.956562  ...        0             1
13457          24           74.316426  ...        0             1
13458          18           87.696972  ...        0             1
13459          24           75.069213  ...        0             1
13460          22           80.030662  ...        0             1

[13461 rows x 12 columns]

In [8]:
pred_team_rounds

        round  start_seconds  ...  ct_util_nades_eff  winner_side_class
0           1       94.30782  ...                  1                 -1
1           2      160.95910  ...                  2                 -1
2           3      279.39980  ...                  0                 -1
3           4      341.00840  ...                  1                 -1
4           5      435.42590  ...                  1                  1
...       ...            ...  ...                ...                ...
340328     18     1647.20600  ...                  0                 -1
340329     19     1694.65500  ...                  3                 -1
340330     20     1753.43800  ...                  4                 -1
340331     21     1803.65800  ...                  3                 -1
340332     22     1856.08500  ...                  2                 -1

[340333 rows x 29 columns]

In [9]:
pred_side_rounds

        round  start_seconds  ...  ct_util_nades_eff  winner_class
0           1       94.30782  ...                  1            -1
1           2      160.95910  ...                  2            -1
2           3      279.39980  ...                  0            -1
3           4      341.00840  ...                  1            -1
4           5      435.42590  ...                  1             1
...       ...            ...  ...                ...           ...
340328     18     1647.20600  ...                  0             1
340329     19     1694.65500  ...                  3             1
340330     20     1753.43800  ...                  4             1
340331     21     1803.65800  ...                  3             1
340332     22     1856.08500  ...                  2             1

[340333 rows x 29 columns]

### apply standard scaler

In [13]:
stdscl = StandardScaler()
stdscl

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
pred_team_matches.columns

Index(['num_rounds', 'avg_round_duration', 'avg_equip_val', 'de_overpass',
       'de_cache', 'de_mirage', 'de_inferno', 'de_train', 'de_dust2',
       'de_cbble', 'de_nuke', 'winner_class'],
      dtype='object')

In [17]:
std_pred_team_matches = pd.DataFrame(data=StandardScaler().fit_transform(pred_team_matches[['num_rounds', 'avg_round_duration', 'avg_equip_val']]),columns=['num_rounds', 'avg_round_duration', 'avg_equip_val'])
std_pred_team_matches[['de_overpass','de_cache', 'de_mirage', 'de_inferno', 'de_train', 'de_dust2','de_cbble', 'de_nuke', 'winner_class']] = pred_team_matches[['de_overpass','de_cache', 'de_mirage', 'de_inferno', 'de_train', 'de_dust2','de_cbble', 'de_nuke', 'winner_class']]
std_pred_team_matches

       num_rounds  avg_round_duration  ...  de_nuke  winner_class
0       -0.114617           -0.323955  ...        0            -1
1        3.102073            1.318159  ...        0            -1
2        0.804437            0.867402  ...        0            -1
3        1.034201            0.910655  ...        0             1
4        0.804437            1.987361  ...        0             1
...           ...                 ...  ...      ...           ...
13456    0.804437           -0.679023  ...        0             1
13457   -0.344381           -1.650952  ...        0             1
13458   -1.722962            0.051236  ...        0             1
13459   -0.344381           -1.555188  ...        0             1
13460   -0.803908           -0.924024  ...        0             1

[13461 rows x 12 columns]

In [18]:
pred_team_rounds.columns

Index(['round', 'start_seconds', 'end_seconds', 'round_duration', 'ct_eq_val',
       't_eq_val', 'final_ct_alive', 'final_t_alive', 'is_bomb_planted',
       'bomb_site', 'past_halftime', 'de_overpass', 'de_cache', 'de_mirage',
       'de_inferno', 'de_train', 'de_dust2', 'de_cbble', 'de_nuke',
       'PISTOL_ROUND', 'ECO', 'SEMI_ECO', 'NORMAL', 'FORCE_BUY',
       't_lethal_nades_eff', 'ct_lethal_nades_eff', 't_util_nades_eff',
       'ct_util_nades_eff', 'winner_side_class'],
      dtype='object')

In [19]:
scaled_cols = ['round', 'start_seconds', 'end_seconds', 'round_duration', 'ct_eq_val','t_eq_val','t_lethal_nades_eff', 'ct_lethal_nades_eff', 't_util_nades_eff', 'ct_util_nades_eff']
unscaled_cols = ['is_bomb_planted','bomb_site','de_overpass', 'de_cache', 'de_mirage', 'de_inferno', 'de_train', 'de_dust2', 'de_cbble', 'de_nuke', 'PISTOL_ROUND', 'ECO', 'SEMI_ECO', 'NORMAL', 'FORCE_BUY','winner_side_class']

std_pred_team_matches = pd.DataFrame(data=StandardScaler().fit_transform(pred_team_rounds[scaled_cols]),columns=scaled_cols)
std_pred_team_matches[unscaled_cols] = pred_team_rounds[unscaled_cols]
std_pred_team_matches

           round  start_seconds  ...  FORCE_BUY  winner_side_class
0      -1.584582      -1.581176  ...          0                 -1
1      -1.459545      -1.490514  ...          0                 -1
2      -1.334508      -1.329405  ...          0                 -1
3      -1.209471      -1.245602  ...          0                 -1
4      -1.084434      -1.117171  ...          0                  1
...          ...            ...  ...        ...                ...
340328  0.541048       0.531151  ...          0                 -1
340329  0.666085       0.595693  ...          0                 -1
340330  0.791123       0.675652  ...          1                 -1
340331  0.916160       0.743964  ...          0                 -1
340332  1.041197       0.815278  ...          0                 -1

[340333 rows x 26 columns]

In [20]:
pred_side_rounds.columns

Index(['round', 'start_seconds', 'end_seconds', 'round_duration', 'ct_eq_val',
       't_eq_val', 'final_ct_alive', 'final_t_alive', 'is_bomb_planted',
       'bomb_site', 'past_halftime', 'de_overpass', 'de_cache', 'de_mirage',
       'de_inferno', 'de_train', 'de_dust2', 'de_cbble', 'de_nuke',
       'PISTOL_ROUND', 'ECO', 'SEMI_ECO', 'NORMAL', 'FORCE_BUY',
       't_lethal_nades_eff', 'ct_lethal_nades_eff', 't_util_nades_eff',
       'ct_util_nades_eff', 'winner_class'],
      dtype='object')

In [21]:
scaled_cols = ['round', 'start_seconds', 'end_seconds', 'round_duration', 'ct_eq_val','t_eq_val','t_lethal_nades_eff', 'ct_lethal_nades_eff', 't_util_nades_eff', 'ct_util_nades_eff']
unscaled_cols = ['is_bomb_planted','bomb_site','de_overpass', 'de_cache', 'de_mirage', 'de_inferno', 'de_train', 'de_dust2', 'de_cbble', 'de_nuke', 'PISTOL_ROUND', 'ECO', 'SEMI_ECO', 'NORMAL', 'FORCE_BUY','winner_class']

std_pred_side_rounds = pd.DataFrame(data=StandardScaler().fit_transform(pred_side_rounds[scaled_cols]),columns=scaled_cols)
std_pred_side_rounds[unscaled_cols] = pred_side_rounds[unscaled_cols]
std_pred_side_rounds

           round  start_seconds  end_seconds  ...  NORMAL  FORCE_BUY  winner_class
0      -1.584582      -1.581176    -1.606920  ...       0          0            -1
1      -1.459545      -1.490514    -1.446071  ...       0          0            -1
2      -1.334508      -1.329405    -1.362403  ...       0          0            -1
3      -1.209471      -1.245602    -1.234178  ...       1          0            -1
4      -1.084434      -1.117171    -1.167886  ...       0          0             1
...          ...            ...          ...  ...     ...        ...           ...
340328  0.541048       0.531151     0.475929  ...       0          0             1
340329  0.666085       0.595693     0.555760  ...       1          0             1
340330  0.791123       0.675652     0.623962  ...       0          1             1
340331  0.916160       0.743964     0.695160  ...       1          0             1
340332  1.041197       0.815278     0.762766  ...       1          0             1

[340333 rows x 26 columns]

### set up hyperparameter search and train test split

In [43]:
def ttSplit(df,test_size,random_state):

  data = df.iloc[:, :-1]
  target = df.iloc[:,-1:]
  x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=test_size, random_state=random_state)

  return x_train, x_test, y_train, y_test

In [44]:
def hyperparameter_exhaustive_search (model, parameters, scoring, x_train, x_test, y_train, y_test):
  for i in range (len(scoring)):

        startTime = time.time()

        clf = GridSearchCV(estimator=model, param_grid=parameters, scoring=scoring[i],n_jobs=-1)
        clf.fit(x_train, y_train)
        y_pred = clf.predict(x_test)

        endTime = time.time()

        clf_report = classification_report(y_test,y_pred)

        print('Optimizing hyperparameters for ', scoring[i])
        print('\nElapsed Time (s):', round((endTime -startTime),3))
        
        print("\nBest parameters:", clf.best_params_)

        print('\nClassification report:\n', clf_report)

        print('-----------------------------------------------------------------------------\n')

  print('Search Complete!')

### XGBoost

In [45]:
def find_best_XGB(x_train, x_test, y_train, y_test):
  model = XGBClassifier()
  xgbparameters = {'learning_rate': [0.1, 0.2, 1], 'max_depth': [1,2,3], 'n_estimators': [10, 50, 100]}

  #the average function is binary by default. This causes error in the GridSearchCV function for Decision Trees. therefore pass a score function with custom average settings
  average_method = 'micro'  # None, ‘binary’ (default), ‘micro’, ‘macro’, ‘samples’, ‘weighted’
  scoring =[
      make_scorer(f1_score,average=average_method)
      ]

  hyperparameter_exhaustive_search(model=model, parameters=xgbparameters, scoring=scoring, x_train=x_train, x_test=x_test, y_train=y_train, y_test=y_test)

In [49]:
x_train, x_test, y_train, y_test = ttSplit(df=std_pred_team_matches[:50000],test_size=0.3,random_state=0) #only the first 50k lines. takes forver otherwise
find_best_XGB(x_train, x_test, y_train, y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Optimizing hyperparameters for  make_scorer(f1_score, average=micro)

Elapsed Time (s): 136.098

Best parameters: {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 100}

Classification report:
               precision    recall  f1-score   support

          -1       0.78      0.83      0.81      7665
           1       0.81      0.76      0.78      7335

    accuracy                           0.80     15000
   macro avg       0.80      0.80      0.80     15000
weighted avg       0.80      0.80      0.80     15000

-----------------------------------------------------------------------------

Search Complete!